window {
  margin: 0px;
  border: 1px solid #84b881;
  background-color: #1f2222;
  border-radius: 7px;
}
* {
  font-family: Terminess Nerd Font;
}

#text,
#entry > *,
#input * {
  color: #a3d4c6;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: #2c2d2b;
  border: solid 0.25px #84b881;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1f2222;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1f2222;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 3px;
  border: none;
  font-size: 13px;
  font-weight: bold;
}

#entry.activatable #text {
  color: #1f2222;
}

#entry:selected {
  background-color: #2c2d2b;
  border-radius: 5px;
  border: solid 0.5px #84b881;
}

#entry:selected #text {
  font-weight: bolder;
}
